/*______slider-stylesheets________*/
@import url(./slick.css);
@import url(./slick-theme.css);
/*________FONTS________*/
@font-face {
  font-family: "Exo2-Bold";
  src: url("./../fonts/Exo2-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Exo2-Light";
  src: url("./../fonts/Exo2-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Exo2-Medium";
  src: url("./../fonts/Exo2-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Exo2-SemiBold";
  src: url("./../fonts/Exo2-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Exo2-Regular";
  src: url("./../fonts/Exo2-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
