@import url(./assets.css);

body {
  margin: 0;
}

/*________*/

.free-consult {
  display: block;
  width: 100%;
  &__memo-box {
    display: block;
    width: 100%;
    min-height: 75px;
    background-color: #f5ebe4;
    padding-top: 5px;
    padding-bottom: 15px;
  }
  &__correct-repair {
    display: block;
    /*margin: 0 auto;
    max-width: 1103px;*/
    p {
      color: #333333;
      font-family: "Exo2-Regular", sans-serif;
      font-size: 24px;
      font-weight: 400;
      line-height: 23px;
      letter-spacing: 0.72px;
      float: left;
      clear: both;
      padding-top: 15px;
    }
  }
  &__download-memo {
    display: block;
    width: 300px;
    height: 65px;
    background-color: transparent;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.18);
    border-radius: 4px;
    border: 3px solid #ffa800;
    margin-bottom: 10px;
    /*float: right;*/
    a {
      display: block;
      color: #333333;
      font-family: "Exo2-SemiBold", sans-serif;
      font-size: 18px;
      font-weight: 400;
      text-transform: uppercase;
      text-decoration: none !important;
      letter-spacing: 0.72px;
      //margin-left: 84px;
    }
    a:before {
      display: block;
      position: absolute;
      width: 41px;
      height: 37px;
      content: url("../img/memo-download-pdf.png");
      //margin-left: 19px;
      margin-top: -6px;
    }
    &:hover {
      background-color: rgb(255, 253, 251);
      transition: 0.6s;
      cursor: pointer;
    }
  }
  &__cost-container {
    display: block;
    /*max-width: 1160px;
    margin: 0 auto;*/
  }
  &__banner {
    color: #463f37;
    font-family: "Exo2-Bold", sans-serif;
    text-align: center;
    font-size: 45px;
    line-height: 48px;
    font-weight: 700;
    margin-top: 54px;
    margin-bottom: 45px;
  }
  &__you-get {
    display: block;
    /*max-width: 852px;*/

    padding-left: 0;
      /*margin: 0 auto;*/
  }
  &__you-get-item {
    /*display: inline-block;*/
    margin-bottom: 50px;
    p {
      display: block;
      max-width: 240px;
      text-align: center;
      color: #463f37;
      font-family: "Exo2-Medium", sans-serif;
      font-size: 18px;
      font-weight: 500;
      padding-top: 16px;
      margin: 0 auto;
    }
    /*&:nth-child(2) {
      margin-left: 95px;
      margin-right: 99px;
    }
    &:last-child {
      p {
        max-width: 167px;
      }
    }*/
  }
  &__item-icon {
    display: block;
    height: 82px;
    background-size: cover;
    margin: 0 auto;
    &.-reference {
      width: 97px;
      background: url("../img/sprite-you-get.png") 0px 0px, no-repeat;
    }
    &.-space {
      width: 78px;
      background: url("../img/sprite-you-get.png") 177px 0px;
    }
    &.-calc {
      width: 84px;
      background: url("../img/sprite-you-get.png") 87px 0px;
    }
  }
  &__get-reference {
    display: block;
    /*max-width: 771px;*/
    //height: 215px;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
    background-color: #f5ebe4;
    /*margin: 0 auto;*/
  }
  &__reference-banner {
    display: block;
    /*max-width: 710px;*/
    color: #463f37;
    font-family: "Exo2-Bold", sans-serif;
    font-size: 25px;
    text-align: center;
    font-weight: 700;
    padding-top: 31px;
    padding-bottom: 20px;
    /*margin: 0 auto;*/
  }
  &__label {
    display: block;
    width: 282px;
    height: 70px;
    margin: 6px 20px 0 32px;
    float: left;
  }
  &__enter-tel-for-reference {
    display: block;
    width: 222px;
    height: 50px;
    border-radius: 5px;
    background-color: #ffffff;
    border: none;
    outline: none;
    padding-left: 20px;
    margin-left: 30px;
  }
  &__submit-reference {
    width: 384px;
    height: 63px;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #ff902e;
    color: #ffffff;
    font-family: "Exo2-Bold", sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    outline: none;
    margin-bottom: 42px;
    clear: both;
    &:hover {
      background-color: #d8752b;
      transition: 0.5s;
      cursor: pointer;
    }
  }
  &__cities-container {
    display: block;
    width: 100%;
    min-height: 173px;
    background-color: #faf5f1;
    padding-top: 50px;
    margin-top: 52px;
  }
  &__cities {
    display: block;
    max-width: 1160px;
    margin: 0 auto;
  }
  &__our-branches {
    color: #463f37;
    font-family: "Exo2-Bold", sans-serif;
    font-size: 25px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 30px;
  }
  &__city-listing {
    color: #463f37;
    font-family: "Exo2-Light", sans-serif;
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 15px;
    margin-bottom: 0;
  }
}

.our-team {
  display: block;
  width: 100%;
  min-height: 754px;
  background: url("../img/background-our-team-slider.png") 100%, no-repeat;
  background-size: cover;
  &__team-banner {
    color: #463f37;
    font-family: "Exo2-Bold", sans-serif;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 1.92px;
    text-align: center;
    padding-top: 73px;
    margin-top: 0;
  }
  &__team-slider-mini {
    display: block;
    width: 570px;
    height: 70px;
    margin-left: calc(50% - 275px);
    margin-bottom: 48px;
  }

  &__team-mini-slide {
    display: block;
    width: 70px !important;
    height: 70px;
    border-radius: 50%;
    margin: 0 10px;
    outline: none;
    border: 1px solid transparent;
    &:focus {
      border: 1px solid #00dbbc;
      box-shadow: 3px 4px 15px 1px rgba(0, 192, 176, 0.21);
    }
    img {
      display: block;
      width: 70px;
      height: 70px;
      /*padding-right: 3px;
      padding-bottom: 3px;*/
    }
  }
  &__team-slider {
    display: block;
    max-width: 890px;
    margin: 0 auto;
  }
  &__previous-button {
    display: block;
    position: absolute;
    width: 27px;
    height: 49px;
    background: url("../img/arrows-2.png") 100%, no-repeat;
    background-size: cover;
    filter: brightness(0.78);
    margin-top: 188px;
    margin-left: -122px;
    &:hover {
      filter: brightness(1);
      opacity: 1;
    }
  }
  &__next-button {
    display: block;
    position: absolute;
    width: 27px;
    height: 49px;
    background: url("../img/arrows-3.png") 100%, no-repeat;
    background-size: cover;
    right: -133px;
    margin-top: 188px;
    &:hover {
      filter: brightness(1.3);
      opacity: 1;
    }
  }
  &__team-slide {
    display: block;
    max-width: 890px;
    //padding: 0 25px;
    margin: 0 auto;
    outline: none;
  }
  &__slide-description {
    display: block;
    max-width: 506px;
    float: left;
    margin-top: 70px;
  }
  &__triangle-svg-right {
    display: block;
    position: absolute;
    margin-top: 128px;
    margin-left: 476px;
  }
  &__name-feedback {
    color: #463f37;
    font-family: "Exo2-Bold", sans-serif;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1.2px;
    margin-top: 0;
    margin-bottom: 10px;
  }
  &__specialist {
    color: #463f37;
    font-family: "Exo2-Light", sans-serif;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.56px;
    margin: 0;
    span {
      border-left: 1px solid #463f37;
      padding-left: 9px;
      margin-left: 3px;
    }
  }
  &__slide-info {
    display: block;
    max-width: 480px;
    background-color: #ffffff;
    border-radius: 9px;
    color: #463f37;
    font-family: "Exo2-Light", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.64px;
    padding: 17px 50px 24px 20px;
    margin-top: 30px;
  }

}

@media all and (max-width: 1190px) {
  .free-consult {
    /*&__memo-box {
      min-height: 155px;
    }
    &__correct-repair {
      p {
        float: none;
        max-width: 700px;
        font-size: 22px;
        padding-bottom: 20px;
        margin: 0 auto;
      }
    }
    &__download-memo {
      float: none;
      margin: 0 auto;
    }*/
    &__banner {
      max-width: 520px;
      font-size: 20px;
      line-height: 30px;
      padding-top: 24px;
      padding-bottom: 25px;
      margin: 0 auto;
    }
    /*&__you-get {
      max-width: 750px;
    }
    &__you-get-item {
      &:nth-child(2) {
        !*margin-left: 35px;
        margin-right: 39px;*!
        margin: 0 30px;
      }
    }*/
    &__get-reference {
      max-width: 720px;
      padding-bottom: 35px;
    }
    &__label {
      float: none;
      margin: 0 auto;
    }
    &__submit-reference {
      display: block;
      margin: 0 auto;
    }
  }

  .our-team {
    min-height: 664px;
    &__team-slider {
      max-width: 300px;
    }
    &__team-slide {
      max-width: 300px;
    }
    &__slide-description {
      margin-top: 3px;
      margin-left: 5px;
    }
    &__name-feedback {
      font-size: 25px;
      margin-left: 10px;
    }
    &__specialist {
      margin-left: 10px;
    }
    &__slide-info {
      max-width: 290px;
      padding: 12px;
      margin-top: 22px;
      margin-bottom: 24px;
    }
    &__triangle-svg-right {
      display: none;
    }
    &__human-feedback {
      display: none !important;
      /*width: 100px;
      position: absolute;
      margin-left: 200px;*/
    }
  }
}

@media all and (max-width: 991px) {
  .free-consult {
    &__download-memo {
      margin: 0 auto;
    }
  }
}

@media all and (max-width: 760px) {
  .free-consult {
    &__memo-box {
      min-height: 140px;
    }
    &__get-reference {
      max-width: 290px;
      margin: 0 auto;
    }
    &__reference-banner {
      font-size: 18px;
      padding-top: 12px;
    }
    &__submit-reference {
      width: 264px;
      /*margin-left: 18px;*/
      margin-bottom: 14px;
    }
    &__cities-container {
      padding-top: 35px;
    }
    &__our-branches {
      max-width: 300px;
      font-size: 16px;
      padding-left: 10px;
      margin-bottom: 15px;
    }
    &__city-listing {
      font-size: 15px;
      padding-left: 10px;
      padding-bottom: 12px;
    }
  }
  .our-team {
    &__team-slider-mini {
      width: 290px;
      height: 50px;
      margin-left: calc(50% - 135px);
      margin-bottom: 30px;
    }
    &__team-mini-slide {
      display: block;
      width: 44px !important;
      height: 44px;
      border-radius: 50%;
      margin: 0 4px;
      outline: none;
      border: 1px solid transparent;
      &:focus {
        zoom: 1.2;
        border: 1px solid transparent;
      }
      img {
        display: block;
        width: 44px;
        height: 44px;
        padding-right: 1px;
        padding-bottom: 2px;
      }
    }
    &__previous-button {
      width: 15px;
      height: 26px;
      margin-left: 77px;
      margin-top: 387px;
    }
    &__next-button {
      width: 15px;
      height: 26px;
      right: 77px;
      margin-top: 387px;
    }
  }
}

@media all and (max-width: 400px) {
  .free-consult {
    &__banner {
      max-width: 300px;
      padding-bottom: 0;
      font-size: 22px;
    }
    &__download-memo {
      max-width: 250px;
      a {
        font-size: 15px;
      }
    }
    /*&__label {
      width: 252px;
    }*/
    &__enter-tel-for-reference {
      width: 282px;
      margin-left: 0;
    }
    &__submit-reference {
      width: 252px;
      margin: 0 auto;
    }
    &__you-get-item {
      margin-bottom: 29px;
      &:last-child {
        margin-bottom: 36px;
      }
    }
    &__reference-banner {
      width: 288px;
      font-size: 16px;
      padding-bottom: 12px;
    }
    &__cities-container {
      margin-top: 35px;
    }
    &__our-branches {
      font-size: 20px;
      text-align: center;
    }
    &__city-listing {
      padding: 0 15px 26px 15px;
    }
  }
  .no-padding {
    padding: 0 !important;
  }
  .our-team {
    min-height: 714px;
  }
}
